:root {
    --main-bg-color: #2ecc71; 
}

body {
    background: var(--main-bg-color);
}

.ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin: 20px auto;
}

.ticket .stub,
.ticket .check {
    box-sizing: border-box;
}

.stub {
    background: #4de38c;
    height: 250px;
    width: 250px;
    color: white;
    padding: 20px;
    position: relative;
}

.stub:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 20px solid var(--main-bg-color);
    border-left: 20px solid #4de38c;
    width: 0;
}

.stub:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 20px solid var(--main-bg-color);
    border-left: 20px solid #4de38c;
    width: 0;
}

.stub .top {
    display: flex;
    align-items: center;
    height: 40px;
    text-transform: uppercase;
}

.stub .top .line {
    display: block;
    background: #fff;
    height: 40px;
    width: 3px;
    margin: 0 20px;
}

.stub .top .num {
    font-size: 10px;
}

.stub .top .num span {
    color: #000;
}

.stub .number {
    position: absolute;
    left: 40px;
    font-size: 150px;
}

.stub .invite {
    position: absolute;
    left: 150px;
    bottom: 45px;
    color: #000;
    width: 20%;
}

.stub .invite:before {
    content: '';
    background: #fff;
    display: block;
    width: 40px;
    height: 3px;
    margin-bottom: 5px;
}

.check {
    background: #fff;
    height: 250px;
    width: 450px;
    padding: 30px;
    position: relative;
}

.check:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 20px solid var(--main-bg-color);
    border-right: 20px solid #fff;
    width: 0;
}

.check:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 20px solid var(--main-bg-color);
    border-right: 20px solid #fff;
    width: 0;
}

.check .big {
    font-size: 30px;
    font-weight: 900;
    line-height: 0.8em;
}

.check .big span {
    line-height: 0.9em;
    font-size: 90px;
}

.check .number {
    position: absolute;
    top: 50px;
    right: 50px;
    color: #4de38c;
    font-size: 40px;
}

.check .info {
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
    margin-top: 20px;
    width: 100%;
}

.check .info section {
    margin-right: 50px;
}

.check .info section:before {
    content: '';
    background: #4de38c;
    display: block;
    width: 40px;
    height: 3px;
    margin-bottom: 5px;
}

.check .info section .title {
    font-size: 10px;
    text-transform: uppercase;
}
@keyframes slideInFromLeft {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: var(--main-bg-color);
  }
}

.list-item {
    margin: 5px;
}
 
.item-content {
    height: 100%;
    border: 0px solid rgba(123, 123, 123, 0.498039);
    border-radius: 4px;
    color: #999999;
    line-height: 90px;
    padding-left: 32px;
    font-size: 24px;
    font-weight: 400;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}
  


